<saml:Assertion xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" ID="${assetionId}" IssueInstant="${timestamp}" Version="2.0">
	<saml:Issuer>ALG_IP_10</saml:Issuer>
	<saml:Subject>
		<saml:NameID Format="urn:oasis:names:tc:SAML:2.0:nameid-format:transient" NameQualifier="ALG_IP_10" SPNameQualifier="ALG_CBKC_OMA_10">${name}</saml:NameID>
		<saml:SubjectConfirmation Method="urn:oasis:names:tc:SAML:2.0:cm:bearer">
			<saml:SubjectConfirmationData NotOnOrAfter="${timestampPlusOneMinute}" Recipient="${authURL}"/>
		</saml:SubjectConfirmation>
	</saml:Subject>
	<saml:Conditions NotBefore="${timestampMinusHalfMinute}" NotOnOrAfter="${timestampPlusOneMinute}">
		<saml:AudienceRestriction>
			<saml:Audience>ALG_CBKC_OMA_10</saml:Audience>
		</saml:AudienceRestriction>
	</saml:Conditions>
	<saml:AuthnStatement AuthnInstant="${timestamp}" SessionIndex="${session}">
		<saml:AuthnContext>
			<saml:AuthnContextClassRef>urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport</saml:AuthnContextClassRef>
		</saml:AuthnContext>
	</saml:AuthnStatement>
	<saml:AttributeStatement>
		<saml:Attribute Name="s">
			<saml:AttributeValue>${accountNumber}</saml:AttributeValue>
		</saml:Attribute>
	</saml:AttributeStatement>
</saml:Assertion>
